body
{
    margin: 0;
    background-color: black;
}

.main-game
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius
{
    display: grid;
    grid-template-areas: 'lgray lbrown ' 'lorange lblue';
    grid-gap: 10px;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue
{
    grid-area: lblue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}
.brown
{
    grid-area: lbrown;
    background-color: brown;
    border-top-right-radius: 100%;
}
.orange
{
    grid-area: lorange;
    background-color: orange;
    border-bottom-left-radius: 100%;
}
.gray
{
    grid-area: lgray;
    background-color: gray;
    border-top-left-radius: 100%;
}

.selected
{
    opacity: 0.5;
}